@import './base/reset';
@import './base/colors';
@import './base/fonts';
@import './base/helpers';
@import './components/App';
@import './components/Navigation';
@import './components/Hamburger';
@import './components/Products';
@import './components/Favorites';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
